
  <div class="form-group">
        <label for="user">UserName:</label>
        <input type="text" class="form-control" ng-model="user">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" ng-model="pwd">
      </div>
      <div class="form-group">
            <label for="fn">FirstName:</label>
            <input type="text" class="form-control" ng-model="fn">
          </div>  
      <div class="form-group">
            <label for="ln">LastName:</label>
            <input type="text" class="form-control" ng-model="ln">
            </div>
      <div class="form-group">
            <label for="mail">Email:</label>
            <input type="email" class="form-control" ng-model="mail">
      </div>
      
      <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="number" class="form-control" ng-model="phone">
            </div>
            
      <div class="form-group">
            <label for="loc">Location:</label>
            <input type="text" class="form-control" ng-model="loc">
      </div>
      <input type="button" value="Save" ng-click="store()"/>
    