<div class="container">
        <div class="form-group">
                <button><a href="#/messages">back</a></button>
                <label for="message">Message:</label>
                <input type="textarea" class="form-control" ng-model="mymessages">
              </div>
              <input type="textarea" class="form-control" placeholder="Reply here" ng-model="sendmess"><br>

               <button ng-click="reply()">Reply</button><br>
              <button ng-click="delete()">Delete</button><br> 
              <button ng-click="important()">Important</button>
</div>
